<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Campus Placement Tracker"
        android:supportsRtl="true"
        android:theme="@style/Theme.CampusPlacementTracker"
        tools:targetApi="31">

        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CampusPlacementTracker">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".MainActivity"
            android:exported="true" />

        <activity android:name=".RegisterActivity" android:exported="false" />
        <activity android:name=".ProfileActivity" android:exported="false" />
        <activity android:name=".CompanyListActivity" android:exported="false" />
        <activity android:name=".ApplyActivity" android:exported="false" />
        <activity android:name=".MyApplicationsActivity" android:exported="false" />
        <activity android:name=".ApplicationDetailsActivity" android:exported="false" />
        <activity android:name=".ChangePasswordActivity" android:exported="false" />
        <activity android:name=".ViewSlotsActivity" android:exported="false" />

        <!-- Admin Activities -->
        <activity android:name=".AdminDashboardActivity" android:exported="false" />
        <activity android:name=".AdminManageApplicationsActivity" android:exported="false" />
        <activity android:name=".AdminAddCompanyActivity" android:exported="false" />
        <activity android:name=".AdminUserListActivity" android:exported="false" />
        <activity android:name=".AdminEditUserActivity" android:exported="false" />
        <activity android:name=".AdminEditCompanyActivity" android:exported="false" />
        <activity android:name=".AdminManageSlotsActivity" android:exported="false" />
        <activity android:name=".AdminManualApplyActivity" android:exported="false" />
        <activity android:name=".AdminCgpaRequestsActivity" android:exported="false" />
        <activity android:name=".AdminCompanyListActivity" android:exported="false" />
        <activity android:name=".AdminCreateUserActivity" android:exported="false" />

        <!-- Company Activities -->
        <activity android:name=".CompanyDashboardActivity" android:exported="false" />
        <activity android:name=".CompanyViewApplicationsActivity" android:exported="false" />

    </application>
</manifest>
